
@media(max-width:1300px){
    .Menu-detail-container {
        gap: 0rem;
    }
    .left-menu,
    .right-menu {
      width: 700px;
    }
}
@media(max-width:1150px){
    .Menu-detail-container {
        flex-wrap: wrap;
    }
    .left-menu,
    .right-menu {
      width:750px;
      padding: 2rem;
    }
}




@media(max-width:900px){

    .navbar{
        flex-direction: row-reverse;
        
    }

    .menu-links{
        background-color: #252525; 
        position: absolute;
        top: 0;
        left: 0;
        right: 5rem;
        display: none;
        justify-content: center;
        align-items: center;
        
    
    }
    .nav-links{
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80vh;
        gap: 2rem;
    }
    .menu-links.active {
        display: flex;
    }

    .hamburger{
        display: block;
        
        
    }
    .hamburger.active{
        position: absolute;
        right: 2rem;
    }
}
@media(max-width:750px){
    .right-side,
    .left-side{
        width: 100%;
    }
    .contact-container{
        flex-direction: column;
    }
}
@media(max-width:600px){
    .menu-text,
    .history-text{
        width: 400px;
    }
    .Menu-detail-container {
        width: 100%;
    }
    .left-detail{
        width: 300;
    }
    .left-menu,
  .right-menu {
    width: 600px;
  }
  .restaurent-bg h1{
    font-size: 100px;
  }
  .restaurent-bg h2{
    font-size: 30px;
  }
  .right-side,
.left-side{
    width: 100%;
}
.main-hero h2{
    font-size: 50px;
    color: white;
    font-family: 'Source Sans 3', sans-serif;
}
  
}
@media(max-width:560px){
    .Menu-detail-container {
        flex-wrap: wrap;
        align-items: center;
    }
    .Menu-detail-container {
        width: 100%;
    }
    .menu-text,
.history-text{
  width: 350px;
  padding: 1rem 3rem;
 text-align: center;
  margin-top: 3rem;
}
.ready-image h1{
    font-size: 120px;
}
 
    .left-menu,
  .right-menu {
    width: 400px;
  }
  .left,
.right{
 width: 150px;
 height: 2px;

 background-color: white;
}
.open{
    font-size: 30px;
}
}
