@import url('https://fonts.googleapis.com/css2?family=Herr+Von+Muellerhoff&family=Source+Sans+3:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
h1{
    text-align: center;
}
h2{
    text-align: center;
}
.header{
    background-image:linear-gradient(rgba(0, 0, 0, 0.363),rgba(0, 0, 0, 0.514)), url("./images/hero-1.webp");
    height: 100vh;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;

   
}
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 11vh;
    /* padding: 0px 3rem; */
    /* width: 100%; */
    /* position: fixed;
    top: 0; */

}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    color: white;
    background-color: white; /* Add your preferred background color for the sticky header */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Add a box shadow if desired */
   
}
.logo{
    color: white;
    font-size: 25px;
    font-family: 'Source Sans 3', sans-serif;
}
.logo a{
    color: white;
    text-decoration: none;
}
.logo.active{
    color: black;
}
.nav-links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    color: black;
  
}
.nav-links a{
    text-decoration: none;
    list-style: none;
    color: white;
    font-family: 'Source Sans 3', sans-serif;
}
.nav-links.active a {
    color: black;
}
li{
    list-style: none;
}
.nav-links a:active{
    text-decoration: underline;
    color: #C59D5F;
}
.nav-links a:hover{
    text-decoration: underline;
    color: #C59D5F;
}
.hamburger{
    display: none;
}
.hero-content{
    z-index: 1;
}
.main-hero{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    height: 90vh;
    padding-top: 4rem;
}
.main-hero h1{
    font-size: 160px;
    font-weight: 400;
    font-family: 'Herr Von Muellerhoff';
    color: #C59D5F;
    text-align: center;
    line-height: 110px;
}

.main-hero h2{
    font-size: 60px;
    color: white;
    font-family: 'Source Sans 3', sans-serif;
}


.line-container{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.left,
.right{
 width: 200px;
 height: 2px;

 background-color: white;
}
.mid{
color: white;
font-size: 20px;
}
.main-hero p{
    color: white;
    font-family: 'Source Sans 3', sans-serif;
    font-size: 18px;
    margin-bottom: 1rem;
}
.book{
    padding: .9rem 1.5rem;
    background-color: #374D6A;
    color: white;
    border-radius: 4px;
    font-size: 18px;
    border: none;
    outline: none;
}
.order{
    padding: .9rem 1.5rem;
    background-color: #FFA833;
    color: white;
    border-radius: 4px;
    font-size: 18px;
    border: none;
    outline: none;
}

.explore-container{
 padding: 2rem 0px;
}
.menu-explore,
.history-explore{
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
}
.col-1{
    gap: 3rem;
    flex-wrap: wrap;
}
.menu-text,
.history-text{
  width: 600px;
  padding: 1rem 3rem;
 text-align: center;
  margin-top: 3rem;
}
.menu-text h1,
.history-text h1{
    font-size: 160px;
    font-family: 'Herr Von Muellerhoff';
    color: #C59D5F;
    font-weight: 400;
    line-height: 100px;
}
.menu-text h2,
.history-text h2{
    font-size: 45px;
    font-family: 'Source Sans 3', sans-serif;
}
.menu-text p,
.history-text p{
    font-family: 'Source Sans 3', sans-serif;
    margin-bottom: 1rem;
}
.images{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.images div{
    gap: 1rem;
}
.menu-text div{
    text-align: left;
}
.find{
    text-align: left;
}
.find span{
    text-decoration: underline;
    color: #C59D5F;
}
.images div img{
    width: 250px;
    height: 300px;
    object-fit: cover;
}
.ready-container{
    text-align: center;

}
.ready-image{
    background-image:linear-gradient(rgba(0, 0, 0, 0.363),rgba(0, 0, 0, 0.514)), url("./images/ready.webp");
    padding: 8rem 0px;
    text-align: center;
    background-attachment: fixed;
    margin-bottom: 2rem;
}
.ready-image h1{
    font-size: 140px;
    font-family: 'Herr Von Muellerhoff';
    color: #C59D5F;
    line-height: 110px;
    font-weight: 400;
   
}
.ready-image h2{
    font-size: 45px;
    font-family: 'Source Sans 3', sans-serif;
    color: white;
}
.open{
    font-size: 45px;
    font-family: 'Source Sans 3', sans-serif;
    margin-top: 2rem;
}
.list li{
    font-family: 'Source Sans 3', sans-serif;
    font-size: 17px;
     margin-bottom: 1rem;
}
.list p{
    font-family: 'Source Sans 3', sans-serif;
    font-size: 17px;
}
.list h2{
     font-weight: 400;
     font-family: 'Source Sans 3', sans-serif;
     margin-top: 1rem;
}
.link{
    margin-top: 4rem;
}
.first a,
.second a,
.third a{
    color: #C59D5F;
}
.footer{
    background: #252525;
    height: 40vh;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-family: 'Source Sans 3', sans-serif;
    color: gray;
    margin-top: 5rem;
}
.cr{
    font-size: 40px;
}
.item{
    display:flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    gap: 1rem;
    font-family: 'Source Sans 3', sans-serif;
    list-style: none;
}



/* ----------------restaurent page --------------- */


.restaurent-header{
    background-image:linear-gradient(rgba(0, 0, 0, 0.363),rgba(0, 0, 0, 0.514)), url("./images/hero-1.webp");
    height: 60vh;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
}
.restaurent-main-hero{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    height: 50vh;
   padding-top:1rem;
}
.restaurent-main-hero h1{
    font-size: 160px;
    font-weight: 400;
    font-family: 'Herr Von Muellerhoff';
    color: #C59D5F;
    text-align: center;
    line-height: 110px;
}

.restaurent-main-hero h2{
    font-size:50px;
    color: white;
    font-family: 'Source Sans 3', sans-serif;
}
.line{
    margin-left: 2rem;
    line-height:30px;
    font-family: 'Source Sans 3', sans-serif;
} 
.btn{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;
    margin-left: 3rem;
    
    padding: 2rem 0px;
    width: 60%;
}

.Menu-detail-container {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 1rem;
    align-items: center;
    
  }
  
  .left-menu,
  .right-menu {
    width: 45%;
  }
  .left-detail{
    padding: 1rem;
  }

  .menu{
    padding: .5rem 0px;
    font-family: 'Source Sans 3', sans-serif;
  }
  .right-detail h1{
  font-weight: 400;
  font-family: 'Source Sans 3', sans-serif;
  }
  .restaurent-bg{
    background-image:linear-gradient(rgba(0, 0, 0, 0.363),rgba(0, 0, 0, 0.514)),  url("./images/wolt-21.05.12-golden-indian10357-2048x1365.jpg.webp");
   
    padding: 3rem 0px;
    background-position:center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 3rem 0px;
  }
  .restaurent-bg h1{
    font-size: 150px;
    font-weight: 400;
    font-family: 'Herr Von Muellerhoff';
    color: #C59D5F;
    text-align: center;
    line-height: 110px;
  }
  .restaurent-bg h2{
    font-size:50px;
    color: white;
    font-family: 'Source Sans 3', sans-serif;
  }
  

  /* -------------Take Away page--------------- */

  .take-line{
    font-size: 25px;
    font-family: 'Source Sans 3', sans-serif;
    margin-left: 2rem;
    margin-top: 1rem;
  }
  .take-book{
    padding: .9rem 1.5rem;
    background-color: #FFA833;
    color: white;
    border-radius: 4px;
    font-size: 18px;
    border: none;
    outline: none;
  }

  /* ------------contact page ----------- */

  .contact-header{
    background-color: #252525;
    background-image: none;
    height: 60vh;
  }
  .contact-bg{
   background-color: #252525;
    padding: 4rem 0px;
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 2rem;
}
.contact-bg h1{
    font-size: 130px;
    font-family: 'Herr Von Muellerhoff';
    color: #C59D5F;
    line-height: 110px;
    font-weight: 400;
   
}
.contact-bg h2{
    font-size: 45px;
    font-family: 'Source Sans 3', sans-serif;
    color: white;
}

.contact-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;
}
.right-side,
.left-side{
    width: 45%;
}
 .left-side{
    padding-left: .5rem;
}
 .right-side{
    padding-left: .5rem;
} 
.left-side-text h2{
    color: black;
    font-family: 'Source Sans 3', sans-serif;
    font-weight: 400;
    text-align: left;
}
.left-side-text p{
    font-family: 'Source Sans 3', sans-serif;
    margin: 2rem 0px;
}
.left-side-text li{
    margin-bottom: 1rem;
    font-family: 'Source Sans 3', sans-serif;
}
.left-side-text h3{
    color: black;
    font-family: 'Source Sans 3', sans-serif;
    font-weight: 400;
}
.name input,
.email input,
.Telephone input,
.Subject input,
.Message textarea{
    width: 90%;
    padding: .4rem;
margin: 5px 0px;
resize: none;
font-family: 'Source Sans 3', sans-serif;
}
.right-side span{
    font-family: 'Source Sans 3', sans-serif;
    
}
.send{
    padding: .7rem 2.5rem;
    border-radius: 4px ;
    border: none;
    outline: none;
    font-size: 18px;
    background-color: black;
    color: white;
    margin-top: 1rem;

}
.map{
    margin-top: 2rem;
    margin-bottom: -2.2rem;
}


.circle{
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    right: 3%;
    top: 60%;
    

}
.circle-dot{
    width: 12px;
    display: inline-block;
    height: 12px;
    border-radius: 50%;
    border: 2px solid gray;
    background-color: transparent;
}
.circle-dot.filled {
    background-color: black;
    border: none;
    width: 12px;
    display: inline-block;
    height: 12px;
    border: 2px solid black;
    border-radius: 50%;
}